.post
  .details
    %p(title=date)&= format_date(date, "%Y.%m.%d")
    %p
      %a(href=author.homepage)&= author.name
  .body
    %h1
      %a(href="/#{name}")&= title
    :if typeof full !== 'undefined'
      = content
    :if typeof full === 'undefined'
      = content.split("<h2>")[0]
      %p
        %a(href="/#{name}") Read Full Story...
