#sidebar
  .aside.clearfix
    %h3 About the Author
    %img.headshot{src: gravitar(author.email) }
    %dl
      %dt Name:
      %dd&= author.name
    :if author.github
      %dl
        %dt Github:
        %dd= github(author.github)
    :if author.bitbucket
      %dl
        %dt BitBucket:
        %dd= bitbucket(author.bitbucket)
    :if author.twitter
      %dl
        %dt Twitter:
        %dd= twitter(author.twitter)
    :if author.location
      %dl
        %dt Location:
        %dd&= author.location
    :if author.homepage
      %dl
        %dt Links:
        %dd
          %a{href: author.homepage} Homepage
          
  .bubble= markdownEncode(description)

#main.clearfix
  %h1&=article.title
  =markdownEncode(article.markdown)
