%rss(version="2.0" xmlns:content="https://purl.org/rss/1.0/modules/content/" xmlns:wfw="https://wellformedweb.org/CommentAPI/" xmlns:dc="https://purl.org/dc/elements/1.1/" xmlns:atom="https://www.w3.org/2005/Atom")
  %channel
    %title How To Node
    %atom:link(href="https://howtonode.org/feed.xml" rel="self" type="application/rss+xml")
    %link https://howtonode.org
    %description How To Node is a blog featuring projects and tutorials relating to the Node.js project.
    %pubDate&= formatRFC822Date(new Date())
    %generator https://github.com/creationix/wheat
    %language en
    :each article in articles
      %item
        %title&= article.title
        %link&= "https://howtonode.org/" + article.name
        %comments&= "https://howtonode.org/" + article.name + "#disqus_thread"
        %pubDate&= formatRFC822Date(article.date)
        %guid(isPermaLink="true")&= "https://howtonode.org/" + article.name
        %description&= markdownEncode(article.markdown)
        %author&= article.author && (article.author.email + " (" + article.author.name + ")")
