#main.index
  :each article in articles.slice(0,15)
    .article
      .author
        %img{src:gravitar(article.author.email, 30)}
        By #{article.author.name}
        .date{title: article.date}&= formatDate(article.date, "%Y.%m.%d")
      %h3
        %a{href: "/" + article.name}&= article.title
      = intro(article.markdown)
      %a.more{href: "/" + article.name} Read more...

#sidebar
  .aside
    = markdownEncode(description)
  .bubble
    %h4
      Articles
    %ul
      :each article in articles.slice(0)
        %li
          %a{href: "/" + article.name}&=article.title
          &=" by " + article.author.name
          :if article.node
            %span.versiontag&= article.node
  .bubble
    %h4 Related Reading
    %a{target:"books",href:"//www.manning.com/sholmes/?a_aid=creationix&a_bid=0aeb7cac"}
      %img{style:"height:188px;width:150px;border:0;",src:"//www.manning.com/sholmes/sholmes_cover150.jpg"}
    %a{target:"books",href:"//manning.com/cantelon2/?a_aid=creationix&a_bid=9b654188"}
      %img{style:"height:188px;width:150px;border:0;",src:"//manning.com/cantelon2/cantelon2_cover150.jpg"}
