#main.index
  :each article in articles.slice(0,15)
    .article
      .author
        %img{src:gravitar(article.author.email, 30)}
        By #{article.author.name}
        .date{title: article.date}&= formatDate(article.date, "%Y.%m.%d")
      %h3
        %a{href: "/" + article.name}&= article.title
      = intro(article.markdown)
      %a.more{href: "/" + article.name} Read more...

#sidebar
  .aside
    = markdownEncode(description)
  .bubble
    %h4
      Articles
    %ul
      :each article in articles.slice(0,20)
        %li
          %a{href: "/" + article.name}&=article.title
          &=" by " + article.author.name
          :if article.node
            %span.versiontag&= article.node
  .bubble
    %h4 Related Reading
    %a{target:"books",href:"http://affiliate.manning.com/idevaffiliate.php?id=1209_277"}
      %img{style:"height:188px;width:150px;border:0;",src:"http://www.manning.com/cantelon/cantelon_cover150.jpg"}
